 /* CSS styles for the layout */
    body {
      margin: 0px!important;
      padding: 0;
      font-family: arial, "Open Sans", sans-serif;
      line-height: 1.71;
      width: 100%;
    }

    div#inkorten {
      margin-top: -45px;
    }
    
    .content {
      max-width: 900px;
      margin: 0 auto;
      padding: 10px;
    }

    li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      list-style-type: none;
    }

    li a {
      text-decoration: none;
      color: black;
    }

    ul {
      padding: 0px;
    }

    #searchInput {
      width: 95%;
      padding: 10px;
      font-size: 16px;
      border: none;
      text-align: center;
      outline: none;
      margin-bottom: 10px;
      border: 1px solid black;
    }

    #searchInput::placeholder {
      color: black;
    }

    #searchInput:focus::placeholder {
      color: #98b300;
      border: none;
    }

    .prefix {
      margin-right: 10px;
      min-width: 40px;
      height: 35px;
      background-color: #685c80;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    li.searchable a {
    max-width: 80%;
}

    h1 {
    color: #000;
    font-size: 3.2rem;
    margin-top: 0;
    font-family: arial, "Open Sans", sans-serif;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 0.5em;
    letter-spacing: 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

        .copyright {
      background-color: #685c80;
      padding: 10px;
      text-align: center;
      font-size: 14px;
      width: 97%;

    }

    .linkedin-link {
      color: #96b522;
      text-decoration: none;
      font-weight:bold;
    }

    .linkedin-link:visited {
      color: #96b522;
      font-weight:bold;
    }

    /* Media query for mobile devices */
    @media only screen and (max-width: 600px) {
      .content {
        max-width: 100%;
        padding:15px;
      }

      .prefix {
        margin-right: 15px;
        min-width: 40px;
        height: 40px;
      }
      h1 {
            font-size: 2.2rem;
      }
    }
